<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custome css  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- icon  -->
    <link rel="shortcut icon" href={% static 'images/favicon.ico' %}>
    <link rel="shortcut icon" href={% static 'images/logo.ico' %}>

    <!-- bootstrap css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- datatables bootstrap  -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <!-- fontawesome link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Aos css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Library |{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark py-3 px-1 d-flex justify-content-between align-items-center">
            <div class="col-8 text-light">
                <img src="{% static 'images/nav-logo.jpg' %}" alt="" style="height: 50px; width: 50px;">
                <span class="fs-4 ms-2">GCOEJ'S Library</span>
            </div>
            {% block nav-btn %}
            
            {% endblock %}
        </div>
    </div>
    {% block data-content %}
    {% endblock %}
    <div class="container-fluid">
        <div class="row bg-dark py-3 px-1  ">
            <div class="col-lg-12 text-center text-light">
                Copyright &copy; {% now 'Y'%} <span>All rights reserved.</span>
            </div>
            
        </div>
    </div>

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    
    <!-- bootstrap js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- datatables js  -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <!-- sweetalerts  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- input mask  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" integrity="sha512-jTgBq4+dMYh73dquskmUFEgMY5mptcbqSw2rmhOZZSJjZbD2wMt0H5nhqWtleVkyBEjmzid5nyERPSNBafG4GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- aos js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     
 
    <script>
        AOS.init();
    </script>

    <script>
        
        $('#Entry').DataTable({
            paging: true,
            pagelength: 5,
            lengthChange: true,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
        })
        $('#student-table').DataTable({
            paging: true,
            pagelength: 5,
            lengthChange: true,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
        });
    </script>

</body>
</html>